.login-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}
.login-form label {
  display: block;
  margin: 30px auto;
}
.login-form span {
  display: block;
  margin-bottom: 6px;
}
.login-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}
@media (max-width: 500px) {
  .login-form input {
    width: 100%;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
  .login-form label {
    margin: 0px auto;
  }
}
