/* navbar styles */
.navbar {
  width: 100%;
  background: linear-gradient(to top, #fff, #b3d9b3);
  padding: 20px 10px;
  box-sizing: border-box;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}
.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.navbar button,
.navbar a {
  margin-left: 16px;
  font-weight: bold;
}

.navbar a {
  color: #333;
  text-decoration: none;
  transition: all 0.2s;
}
.navbar a:hover {
  color: #1f9751;
}
@media (max-width: 500px) {
  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
  }
  .title {
    margin-right: unset;
    color: #1f9751;
  }
  .navbar a {
    margin-left: unset;
  }
  .navbar {
    border-bottom: 3px solid #4da64d;
  }
}
